.skeleton {
  display: inline-block;
  background-color: #ccc;
  border-radius: 8px;
  animation: pulse 0.5s infinite ease-in-out;
  color: transparent;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}