.skeleton {
  display: inline-block;
  background-color: #0003;
  border-radius: 8px;
  animation: pulse 0.5s infinite ease-in-out;
  color: transparent;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    background-color: #FFF3;
  }
}