.input {
  /* margin: 20px; */
  padding: 10px;
  background-color: white;
  accent-color: red;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  transition: all 0.2s ease;
}

.input:focus {
  border: solid red 1px;
}
