
.back {
  background-color: #dbdbdb;
  width: 100%;
  border-radius: 4px;
  transition: all .3s ease;
}

.front {
  height: 4px;
  border-radius: 4px;
  transition: all .3s ease;
}

@media (prefers-color-scheme: dark) {
  .back {
    background-color: #dbdbdb;
  }
}