@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 여기부터 내가 */

* {
  --accent: #dc143c;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  word-break: keep-all;
}

body {
  display: flex;
  flex-direction: column;
}

*:hover {
  --accent: #e65a76;
}

*:hover:focus {
  --accent: #a51330;
}

a {
  text-decoration: none;
}
