@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* styles/globals.css */
  font-family: 'Pretendard', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  word-break: keep-all;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

svg {
  display: inline-block;
}