footer {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  font-size: small;
  /* height: 2.5rem;            Footer height */
}

.padding {
  border-top: solid 1px hsl(0, 0%, 86%);
  padding: 40px 20px;
}

@media (prefers-color-scheme: dark) {
  .padding {
    border-top: 1px solid #424242;
  }
}
