.metacontainer {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .metacontainerMargin {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  @media (max-width: 720px) {
    .metacontainer {
      padding-left: 20px;
      padding-right: 20px;
    }
    .metacontainerMargin {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  