.searchBox {
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  transition: all 0.2s ease;
  /* width: minmax(100%, 1fr); */
}

.searchBox:focus-within {
  box-shadow: 0px 8px 16px #00000055;
}

@media (prefers-color-scheme: dark) {
  .searchBox {
    background-color: #0b0b0b0b;
    border: 1px solid #595959;
  }

  .searchBox:focus-within {
    box-shadow: 0px 8px 16px #000000;
  }
}
