.red {
  color: #dc143c;
  color: var(--accent);
  text-decoration: none;
  transition: all 0.1s ease;
}
.red:hover {
  text-decoration: underline;
}

.monotone {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease;
}
.monotone:hover {
  filter: brightness(1.2);
  text-decoration: underline;
}
