
.accent-1 {
  --accent: #e65a76;
}

.accent0 {
  --accent: #dc143c;
}

.accent1 {
  --accent: #a51330;
}

.shared {
  border-radius: 8px;
  align-items: 'center';
  color: 'inherit';
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  padding: 8px;
}

.shared.enabled:hover {
  box-shadow: 0px 4px 8px rgb(from var(--accent) r g b / 0.5);
}

.shared.enabled:focus {
  box-shadow: 0px 4px 8px rgb(from var(--accent) r g b / 0.5);
}

.enabled.outline {
  color: var(--accent);
  border: solid 1px var(--accent);
  background: rgb(from var(--accent) r g b / 0.02);
}

.disabled.outline {
  color: #dbdbdb;
  border: solid 1px #dbdbdb;
  background: #dbdbdb05;
}

.enabled.primary:hover {
  color: white;
  background-color: hsl(from var(--accent) h calc(s * 1.2) calc(l * 1.2));
}
.enabled.primary:focus {
  color: white;
  background-color: hsl(from var(--accent) h calc(s * 1.2) calc(l * 1.2));
}


.enabled.primary {
  color: white;
  border: none;
  background: var(--accent);
}

.disabled.primary {
  background: #dbdbdb; /* Sets a transparent background */
}

.disabled {
  cursor:not-allowed;
}