.shared {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-items: 'center';
  color: 'inherit';
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  padding: 8px;
}

.shared.blank:hover {
  opacity: 0.5;
}

.enabled.outline:focus {
  box-shadow: 0px 4px 8px rgb(from #dc143c r g b / 0.5);
}

.enabled.outline:hover {
  box-shadow: 0px 4px 8px rgb(from #dc143c r g b / 0.5);
}

.enabled.outline {
  color: var(--accent);
  border: solid 1px var(--accent);
  background: rgb(from var(--accent) r g b / 0.01);
}

.disabled.outline {
  color: #dbdbdb;
  border: solid 1px #dbdbdb;
  background: #dbdbdb05;
}

.enabled.filled:hover {
  box-shadow: 0px 2px 4px var(--accent);
  /* background-color: hsl(from var(--accent) h calc(s * 1.2) calc(l * 1.2)); */
}

/* background-color: hsl(from var(--accent) h calc(s * 1.2) calc(l * 1.2)); */

.enabled.filled {
  color: white;
  border: none;
  background: var(--accent);
}

.disabled.filled {
  background: #dbdbdb;
}

.disabled {
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}
