.text-field-container {
  position: relative;
}

.text-field-input:focus {
  outline: none;
  border: 1px solid var(--accent);
  box-shadow: 0px 0px 8px var(--accent);
}

.text-field-input {
  background-color: var(--back-0);
  color: var(--fore-0);
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  
  border: 1px solid #b7b7b7;
  transition: all .1s ease;
}

.text-field-input.valid {
  border-color: #1bbe66;
}

.text-field-input.invalid {
  border-color: var(--accent);
}

.error-message {
  color: var(--accent);
  font-size: 12px;
  margin-top: 4px;
}
