.text-field-container {
  position: relative;
}

.text-field-input:focus {
  outline: none;
  border: 1px solid var(--accent);
  box-shadow: 0px 0px 4px var(--accent);
}

.text-field-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  transition: border-color 0.3s ease;
}

.text-field-input.valid {
  border-color: #1bbe66;
}

.text-field-input.invalid {
  border-color: #dc143c;
}

.error-message {
  color: #dc143c;
  font-size: 12px;
  margin-top: 4px;
}
