.t1,
.t1 * {
  font-size: 32px;
}
.t2,
.t2 * {
  font-size: 28px;
}
.t3,
.t3 * {
  font-size: 24px;
}
.t4,
.t4 * {
  font-size: 20px;
}
.t5,
.t5 * {
  font-size: 16px;
}

.t6,
.t6 * {
  font-size: 12px;
}
