footer {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  font-size: small;
  /* height: 2.5rem;            Footer height */
}

.padding {
  padding: 40px 20px;
  margin: 0px 40px;
  border-top: solid 1px #dbdbdb;
}