.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  transition: all 0.3s ease;
  background-color: #eeeeee;
}

.modal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 12px;
  border: solid #dddddd 1px;
  background-color: #ffffff; /* Change the color as needed */
  transition: all 0.3s ease;
  box-shadow: 0px 20px 20px #00000033;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #111111;
  }

  .modal {
    border: solid #333333 1px;
    background-color: #222222; /* Change the color as needed */
  }
}

@media (max-width: 720px) {
  .modal {
    width: 100% !important;
    height: 100% !important;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap;
    overflow: auto;
  }
}
