html, body {
    height: 100%;
    margin: 0;
    accent-color: #a51330;
}
  
body :focus {
    /* outline-color: #a5133077; */
    outline: #a5133077 solid 3px;
    /* outline-offset: 10px; */
}

body {
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    html  {
        background-color: #181818;
        color: white;
    }
}
/* 
.content-wrap {
    flex: 1;
} */

a {
    text-decoration: none;
    color: inherit;
}

