/* 이렇게 글꼴을 웹폰트로 다운받으면, 로컬 컴퓨터에 해당 글꼴이 없더라도 자동으로 다운받아서 적용합니다.(물론 그만큼 성능에는 안 좋습니다.) */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family:
    'Pretendard-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family:
    'Pretendard-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto';
}
